<div class="app-marketing bg-light">
  <div class="text-center py-5">

      <img src="../../../assets/img/logo.svg" class="mr-3" alt="logo">
      <p class="h3 d-inline-block text-main-head mr-3" i18n>There's more to love in the app.</p>

      <div class="app-os d-md-block d-lg-inline">
        <button class="btn btn-dark mr-3" i18n><i class="fab fa-apple"></i> iPhone</button>
        <button class="btn btn-dark" i18n><i class="fab fa-android"></i> Android</button>
      </div>

  </div>

</div>




