<div class="d-sm-block d-md-none">

  <nav class="navbar navbar-collapse navbar-light bg-white ">

    <div class="navbar-brand">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand ml-3 my-auto" href="#">
        <img src="../../../assets/img/logo.svg"  alt="">

      </a>
    </div>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">

      <div class="text-center my-4">
        <button class="btn btn-dark my-5  md-my-3 w-75" i18n>Sign In</button>
      </div>

      <div class="signUpTypeSelect my-5 text-center">
        <a class="d-block mt-1" i18n>Create a business account</a>
        <a class="d-block mt-1" i18n>Add your restaurant</a>
        <a class="d-block mt-1" i18n>Sign up to deliver</a>
      </div>

      <div class="pt-5 text-center">
        <button class="btn btn-secondary mr-2" i18n><i class="fab fa-apple"></i> iPhone</button>
        <button class="btn btn-secondary " i18n><i class="fab fa-android"></i> Android</button>
      </div>

    </div>

  </nav>

</div>

<div class="d-sm-none d-md-block">

  <!--start navbar-->
  <div class="landing-nav">

    <!-- start navbar-->
    <div id="mySidepanel" class="sidepanel">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

      <div class="container">

        <div class="text-center my-5">
          <button class="btn btn-dark my-5  md-my-3 w-75" i18n>Sign In</button>
        </div>

        <div class="signUpTypeSelect my-5 text-center">
          <a class="d-block mt-1" i18n>Create a business account</a>
          <a class="d-block mt-1" i18n>Add your restaurant</a>
          <a class="d-block mt-1" i18n>Sign up to deliver</a>
        </div>

        <div class="pt-5 text-center">
          <button class="btn btn-secondary mr-2" i18n><i class="fab fa-apple"></i> iPhone</button>
          <button class="btn btn-secondary " i18n><i class="fab fa-android"></i> Android</button>
        </div>

      </div>

    </div>

    <!-- start navbar-->
    <nav class="navbar  navbar-light">
      <div class="navbar-brand">
        <button class="openbtn  margin-left-30" (click)="openNav()" >     &#9776;    </button>
        <img src="../../../assets/img/logo.svg"  alt="logo">
      </div>
<!--
      <div class="delivery-address mt-1">
        <form class="form-inline text-center">
          <input class="form-control mr-sm-2  fontAwesome" type="search" placeholder="&#xf041;  Enter Delivery Address" aria-label="Search">
        </form>
      </div>
-->
      <form class="sign-in-form margin-right-30 ">
        <button class="btn btn-secondary sign-in" i18n>sign in</button>
      </form>

    </nav>
    <!-- end navbar-->

  </div>
  <!-- end navbar -->

</div>
