owl-carousel-o  img {
  max-width: 200px;
  display: inline-block;
}

.text-main-head {
  color: black;
}

.text-link {
  display: inline-block;
  float: right;
}

.text-link:hover {
  text-decoration: underline;
  font-weight: 500;
}

.text-sub-head {
  margin-top: 5px;
  font-size: 17px ;
  font-weight: bold;
}



@media (min-width: 1400px)  {



  .text-main-head {
    display: inline;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  .text-link {
      margin-top: 15px;
      margin-right: 60px;
      font-size: 18px;
    }



    .custom-align {
      text-align: left !important;
    }



}

@media (min-width: 768px) and (max-width: 1400px) {

  .text-main-head {
    display: inline;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  .text-link {

      margin-top: 15px;
      margin-right: 60px;
      font-size: 18px;

    }




    .custom-align {
      text-align: left !important;
    }


}

@media (min-width: 538px) and (max-width: 768px) {

  .text-main-head {
    display: inline;
    font-size: 26px;
    font-weight: bold;
    margin-left: 60px;
    margin-bottom: 25px;
  }

  .text-link {

      margin-top: 15px;
      margin-right: 60px;;
      font-size: 18px;
    }



    .custom-align {
      text-align: left !important;
    }
}

@media (min-width: 320px) and (max-width: 538px) {

  .text-main-head {
    font-size: 22px;
    margin-left: 20px;
    font-weight: 500;
    margin-bottom: 15px;
  }


  .text-link {


    margin-top: 7px;

    margin-right: 60px;

    font-size: 15px;
  }


  .custom-align {
    text-align: center !important;
  }



}


