
<div class="looking-something-else mt-2">

  <div class="d-flex bd-highlight">
    <div class="p-2 flex-fill  bd-highlight text-main-head margin-left-30" i18n>Looking for something else?</div>
    <div class="p-2 flex-fill bd-highlight">
      <a class="text-link" href="#" style="color: black;" i18n>View all </a>
    </div>
  </div>

  <div class="margin-left-30 margin-right-30 custom-align" >

    <owl-carousel-o  [options]="customOptions">

      <ng-template carouselSlide >

        <div class="slide  " >
          <div class="bg-img" >
            <img src="../../../assets/img/other1.webp" class="img-fluid rounded-circle"  alt="">
          </div>
          <p class=" h6 text-bold text-sub-head text-center" i18n>Everyday essentials</p>
        </div>

      </ng-template>

      <ng-template carouselSlide >

        <div class="slide  " >
          <div class="bg-img" >
            <img src="../../../assets/img/other2.webp" class="img-fluid rounded-circle"  alt="">
          </div>
          <p class=" h6 text-bold text-sub-head text-center" i18n>    Burger </p>
        </div>

      </ng-template>

      <ng-template carouselSlide >

        <div class="slide  " >
          <div class="bg-img" >
            <img src="../../../assets/img/other3.webp" class="img-fluid rounded-circle"  alt="">
          </div>
          <p class=" h6 text-bold text-sub-head text-center" i18n>   Breakfast and brunch </p>
        </div>

      </ng-template>

      <ng-template carouselSlide >

        <div class="slide  " >
          <div class="bg-img" >
            <img src="../../../assets/img/other4.webp" class="img-fluid rounded-circle"  alt="">
          </div>
          <p class=" h6 text-bold text-sub-head text-center" i18n>    Korean </p>
        </div>

      </ng-template>

      <ng-template carouselSlide >

        <div class="slide  " >
          <div class="bg-img" >
            <img src="../../../assets/img/other5.webp" class="img-fluid rounded-circle"  alt="">
          </div>
          <p class=" h6 text-bold text-sub-head text-center" i18n> Asian</p>
        </div>

      </ng-template>

      <ng-template carouselSlide >

        <div class="slide  " >
          <div class="bg-img" >
            <img src="../../../assets/img/other6.webp" class="img-fluid rounded-circle"  alt="">
          </div>
          <p class=" h6 text-bold text-sub-head text-center" i18n>  Halal </p>
        </div>

      </ng-template>

      <ng-template carouselSlide >

        <div class="slide  " >
          <div class="bg-img" >
            <img src="../../../assets/img/other7.webp" class="img-fluid rounded-circle"  alt="">
          </div>
          <p class=" h6 text-bold text-sub-head text-center" i18n>  Chinese</p>
        </div>

      </ng-template>

      <ng-template carouselSlide >

        <div class="slide  " >
          <div class="bg-img" >
            <img src="../../../assets/img/other8.webp" class="img-fluid rounded-circle"  alt="">
          </div>
          <p class=" h6 text-bold text-sub-head text-center" i18n> Asian Fusion  </p>
        </div>

      </ng-template>


    </owl-carousel-o>

  </div>

</div>


