<div class="cities-near-me mt-2">

  <div class="d-flex bd-highlight">
    <div class="p-2 flex-fill  bd-highlight text-main-head margin-left-30" i18n>Cities near me</div>
    <div class="p-2 flex-fill bd-highlight">
      <a class="text-link" href="#" style="color: black;" i18n>View all 500+ cities </a>
    </div>
  </div>




    <div class="d-flex justify-content-center mt-3">
    <!-- united kingdom  map -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9552417.522136608!2d4.4904860888431966!3d54.23083150020214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x25a3b1142c791a9%3A0xc4f8a0433288257a!2z2KfZhNmF2YXZhNmD2Kkg2KfZhNmF2KrYrdiv2Kk!5e0!3m2!1sar!2seg!4v1608039044073!5m2!1sar!2seg"
        width="90%"
        height="300px"
        frameborder="0"
        style="border:0;"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"></iframe>
    <!-- egyption map -->
    <!--
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7290574.331619817!2d35.37404210113827!3d26.84469906207521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14368976c35c36e9%3A0x2c45a00925c4c444!2z2YXYtdix!5e0!3m2!1sar!2seg!4v1608033752341!5m2!1sar!2seg"

        width="90%"
        height="300px"
        frameborder="0"
        style="border:0;"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"></iframe>

 -->

  </div>




</div>



<div class="country-list">
  <div class="container">
    <owl-carousel-o  [options]="customOptions" class="custom-align">


    <ng-template carouselSlide >

        <div class="d-flex flex-column bd-highlight mb-3">
          <div class="p-2 bd-highlight" i18n>Aberdeen</div>
          <div class="p-2 bd-highlight" i18n>Belfast</div>
          <div class="p-2 bd-highlight" i18n>Birmingham, UK</div>
          <div class="p-2 bd-highlight" i18n>Brighton and Sussex</div>
          <div class="p-2 bd-highlight" i18n>Cambridge and East Anglia</div>
          <div class="p-2 bd-highlight" i18n>Cardiff</div>
        </div>

    </ng-template>

    <ng-template carouselSlide >

        <div class="d-flex flex-column bd-highlight mb-3">
          <div class="p-2 bd-highlight" i18n>Aberdeen</div>
          <div class="p-2 bd-highlight" i18n>Belfast</div>
          <div class="p-2 bd-highlight" i18n>Birmingham, UK</div>
          <div class="p-2 bd-highlight" i18n>Brighton and Sussex</div>
          <div class="p-2 bd-highlight" i18n>Cambridge and East Anglia</div>
          <div class="p-2 bd-highlight" i18n>Cardiff</div>
        </div>

    </ng-template>

    <ng-template carouselSlide >

      <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight" i18n>Aberdeen</div>
        <div class="p-2 bd-highlight" i18n>Belfast</div>
        <div class="p-2 bd-highlight" i18n>Birmingham, UK</div>
        <div class="p-2 bd-highlight" i18n>Brighton and Sussex</div>
        <div class="p-2 bd-highlight" i18n>Cambridge and East Anglia</div>
        <div class="p-2 bd-highlight" i18n>Cardiff</div>
      </div>

  </ng-template>

  <ng-template carouselSlide >

      <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight" i18n>Aberdeen</div>
        <div class="p-2 bd-highlight" i18n>Belfast</div>
        <div class="p-2 bd-highlight" i18n>Birmingham, UK</div>
        <div class="p-2 bd-highlight" i18n>Brighton and Sussex</div>
        <div class="p-2 bd-highlight" i18n>Cambridge and East Anglia</div>
        <div class="p-2 bd-highlight" i18n>Cardiff</div>
      </div>

  </ng-template>

  </owl-carousel-o>
  </div>

</div>
