<div class="bannar">

  <div class="bannar-content ">

    <h1 class="text-bannar-head " i18n>Hungry? You're in the right place</h1>

    <form class="form-inline padding-bannar-content " >
      <div class="form-group mr-2">
        <input class="form-control delivery-address fontAwesome bg-light" type="search"
        i18n-placeholder placeholder="&#xf041;  Enter Delivery Address" aria-label="Search">
      </div>


        <div class="dropdown mr-2">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" i18n>
          Deliver Now
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" i18n>Deliver Now</a>
          <a class="dropdown-item" href="#" i18n>Schedual For Later</a>
        </div>
      </div>



      <button type="submit" class="btn btn-dark " i18n>Find Food</button>

    </form>

    <p class="sub-head-bannar padding-bannar-content" i18n><a class="c-dark" href="#" >Sign in</a> for your recent addresses</p>

  </div>

</div>
