<div class="in-a-nush mt-2">

  <div class="d-flex bd-highlight">
    <div class="p-2 flex-fill  bd-highlight text-main-head margin-left-30" i18n>In a Nush?</div>
    <div class="p-2 flex-fill bd-highlight" i18n>
      <a class="text-link" href="#" style="color: black;">View all </a>
    </div>
  </div>

  <div class="margin-left-30 margin-right-30" >

    <owl-carousel-o  [options]="customOptions">

      <ng-template carouselSlide >

        <div class="slide  " >
          <div class="bg-img" >
            <img src="../../../assets/img/Capture.PNG" height="200px" width="30%" alt="">
          </div>
            <p class=" h6 text-bold text-sub-head" i18n>McDonald's® - Holborn</p>
            <p class=" text-lead text-bold" i18n>£3.99 delivery fee . 20–30 MINS .</p>
          </div>

      </ng-template>

      <ng-template carouselSlide >

        <div class="slide  " >
          <div class="bg-img" >
            <img src="../../../assets/img/Capture.PNG" height="200px" width="30%" alt="">
          </div>
            <p class=" h6 text-bold text-sub-head" i18n>McDonald's® - Holborn</p>
            <p class=" text-lead text-bold" i18n>£3.99 delivery fee . 20–30 MINS .</p>
          </div>

      </ng-template>
      <ng-template carouselSlide >

        <div class="slide  " >
          <div class="bg-img" >
            <img src="../../../assets/img/Capture.PNG" height="200px" width="30%" alt="">
          </div>
            <p class=" h6 text-bold text-sub-head" i18n>McDonald's® - Holborn <span class="text-info"> ( new )</span></p>

            <p class=" text-lead text-bold" i18n>£3.99 delivery fee . 20–30 MINS .</p>
          </div>

      </ng-template>

    </owl-carousel-o>

  </div>

</div>



<!--

  <div class="in-a-nush mt-4 mb-3">

  <div class="d-flex bd-highlight">
    <div class="p-2 flex-fill  bd-highlight head-text margin-left-30">In a Nush?</div>
    <div class="p-2 flex-fill bd-highlight">
      <a class="text-link" href="#" style="color: black;">View all </a>
    </div>
  </div>

</div>

-->
