<!-- small size navbar-->
<!--



<app-header></app-header>
<app-bannar></app-bannar>







-->


<app-header></app-header>
<app-bannar></app-bannar>


<app-food-near-me></app-food-near-me>
<app-app-marketing></app-app-marketing>
<app-in-a-nush></app-in-a-nush>
<app-signup-type></app-signup-type>
<app-today-offer></app-today-offer>
<app-new-in-fast-food></app-new-in-fast-food>


<app-cities-near-me></app-cities-near-me>
<app-lookingfor-something-else></app-lookingfor-something-else>


<app-countries-with-uber></app-countries-with-uber>
<app-footer></app-footer>

<!--



-->

