<div class="countries text-lead text-center">

    <div class="text-head margin-left-30  mt-5">
      <p i18n>Countries with Uber Eats</p>
    </div>

<div class="margin-left-30 marging-right-30">
    <div class="country-list ">
      <owl-carousel-o  [options]="customOptions" >


        <ng-template carouselSlide >

            <div class="d-flex flex-column bd-highlight mb-3">
              <div class="p-2 bd-highlight" i18n>Aberdeen</div>
              <div class="p-2 bd-highlight" i18n>Belfast</div>
              <div class="p-2 bd-highlight" i18n>Birmingham, UK</div>
              <div class="p-2 bd-highlight" i18n>Brighton and Sussex</div>
              <div class="p-2 bd-highlight" i18n>Cambridge and East Anglia</div>
              <div class="p-2 bd-highlight" i18n>Cardiff</div>
            </div>

        </ng-template>

        <ng-template carouselSlide >

            <div class="d-flex flex-column bd-highlight mb-3">
              <div class="p-2 bd-highlight" i18n>Aberdeen</div>
              <div class="p-2 bd-highlight" i18n>Belfast</div>
              <div class="p-2 bd-highlight" i18n>Birmingham, UK</div>
              <div class="p-2 bd-highlight" i18n>Brighton and Sussex</div>
              <div class="p-2 bd-highlight" i18n>Cambridge and East Anglia</div>
              <div class="p-2 bd-highlight" i18n>Cardiff</div>
            </div>

        </ng-template>

        <ng-template carouselSlide >

          <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight" i18n>Aberdeen</div>
            <div class="p-2 bd-highlight" i18n>Belfast</div>
            <div class="p-2 bd-highlight" i18n>Birmingham, UK</div>
            <div class="p-2 bd-highlight" i18n>Brighton and Sussex</div>
            <div class="p-2 bd-highlight" i18n>Cambridge and East Anglia</div>
            <div class="p-2 bd-highlight" i18n>Cardiff</div>
          </div>

      </ng-template>

      <ng-template carouselSlide >

          <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight" i18n>Aberdeen</div>
            <div class="p-2 bd-highlight" i18n>Belfast</div>
            <div class="p-2 bd-highlight" i18n>Birmingham, UK</div>
            <div class="p-2 bd-highlight" i18n>Brighton and Sussex</div>
            <div class="p-2 bd-highlight" i18n>Cambridge and East Anglia</div>
            <div class="p-2 bd-highlight" i18n>Cardiff</div>
          </div>

      </ng-template>

      </owl-carousel-o>
    </div>

  </div>

</div>
