
<div class="signtype margin-left-30 margin-right-30 my-5">

    <div class="row">

      <div class="col-sm-4 ">
        <div class="employee">
          <a href="#">
            <div class="img-content mw-6">
              <img src="../../../assets/img/employee.svg"  alt="">
            </div>
            <div class="text-content">
              <h2 i18n>Feed Your Employee</h2>
              <p class="text-lead" i18n> Create a Business Account  </p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-4 ">
        <div class="restaurent">
          <a href="#">
            <div class="img-content mw-6">
              <img src="../../../assets/img/restuatren.svg"  alt="">
            </div>
            <div class="text-content">
              <h2 i18n> Your restaurant – delivered </h2>
              <p class="text-lead" i18n> Add your restaurant  </p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-4 ">
        <div class="deliver">
          <a href="#">
            <div class="img-content mw-6">
              <img src="../../../assets/img/deliver-eats.svg"  alt="">
            </div>
            <div class="text-content">
              <h2 i18n>Deliver the Eats</h2>
              <p class="text-lead" i18n> Sign up to deliver  </p>
            </div>
          </a>
        </div>
      </div>

    </div>


</div>
